.gitRepos {
  border-top: 1px solid #f5f5f5;
  .gitReposItem {
    position: relative;
    display: inline-block;
    border-left: 1px solid #f5f5f5;
    width: 216px;
    height: 140px;
    border-bottom: 1px solid #f5f5f5;
    box-sizing: border-box;
    padding: 10px;
    background: #fff;
    vertical-align: top;
    margin: 0;

    &:nth-child(5n) {
      border-right: 1px solid #f5f5f5;
    }

    .gitReposItemTitle {
      padding: 0px 10px;
      padding-bottom: 10px;
      line-height: 20px;
      font-weight: bold;
      font-size: 14px;
      color: #0366d6;
    }

    .gitReposItemDesc {
      color: rgb(88, 96, 105);
      font-size: 12px;
      line-height: 18px;
      max-height: 54px;
      overflow: hidden;
      word-break: break-all;
    }

    .gitReposItemLang {
      position: absolute;
      color: rgb(88, 96, 105);
      bottom: 10px;
      left: 10px;
      height: 20px;
      line-height: 20px;
      font-size: 12px;
      padding-left: 15px;

      .gitReposItemLangColor {
        position: absolute;
        top: 5px;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }

    .gitReposItemStar {
      position: absolute;
      right: 10px;
      bottom: 10px;
      height: 20px;
      line-height: 20px;
      white-space: nowrap;
      padding-left: 18px;
      font-size: 12px;
      color: rgb(88, 96, 105);

      svg {
        position: absolute;
        top: 2px;
        left: 0;
      }
    }
    .gitReposItemTime {
      position: absolute;
      right: 10px;
      bottom: 10px;
      height: 20px;
      line-height: 20px;
      white-space: nowrap;
      font-size: 12px;
      color: rgb(88, 96, 105);
    }
  }
}